



<div class="row" >
    <div class="col-12"> Lista de equipos Liga MX </div>
</div>

<div class="row">

    <div class="col=12">
        <table class="table">
            <thead>
                <tr>
                    <th> Id equipo </th>

                    <th> Nombre</th>
                    <th> Estadio</th>
                    <th> Capacidad</th>
                    <th> Estatus</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td> 1 </td>
                    <td> America </td>
                    <td> Estadio Azteca </td>
                    <td>200000 </td>
                    <td>Activo</td>
                </tr>

                <tr>
                    <td> 2 </td>
                    <td> Guadalajara </td>
                    <td>Akron </td>
                    <td>200000 </td>
                    <td>Activo</td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> Pumas </td>
                    <td> Olímpico Universitario </td>
                    <td>200000 </td>
                    <td>Activo</td>
                </tr>
            </tbody>   
        </table>

    </div>
</div>

